main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.card {
  height: 16em;
  width: 100%;
}

.button-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  color: #29AEE8;
}

.button-container a {
  margin: .5em;
}

.cards {
  width: 80%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5em;
}

.card-image {
  height: 100%;
}

.description {
  font-size: .5em;
}

.add {
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
}

.view-author {
  width: 7em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  background: #29AEE8
}

.view-author span{
  padding-top: 2.6em;
}

.names {
  display: flex;
  flex-direction: row;
  margin-bottom: .5em;
}

.title {
  margin-bottom: .5em;
  font-size: .6em;
  display: flex;
  flex-direction: row;
}
