main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  height: 12em;
  width: 100%;
}

.cards {
  width: 70%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  height: 100%;
}

.description {
  font-size: .5em;
}
