main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.add {
  width: 100%;
  padding-top: 1em;
  padding-left: 1em;
}

.button-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
}

.button-container a {
  margin: .5em;
}
.card {
  height: 15em;
  width: 100%;
}

.cards {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5em;
}

.card-image {
  height: 100%;
}

.description {
  font-size: .5em;
}

.card-action {
  padding-top: .25em!important;
  padding-bottom: .25em!important;
  padding-left: .75em;
  padding-right: .75em;
  font-size: .75em;
}
