main {
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
}

.row .col {
  display: flex;
  justify-content: center;
  height: 100%;
}

.author-container {
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
}

.author-container:hover {
  background: #E3E3E7;
}

.author-col {
margin-left: 3em;
display: flex;
align-items: center;
}

.headline {
  padding: 2em;
  font-family: 'Raleway', sans-serif;

}
