body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav, .footer-copyright{
  padding-left: 1em;
  background-color: #29AEE8!important;
  color: white;
}

#nav-mobile {
  padding-right: 1em;
}

.footer-copyright {
  height: 6vh;
  display: flex;
  align-items: center;
}

.footer-copyright .container {
  display: flex;
  justify-content: center;
  font-size: .75em;
}
